PORT_API=4001
HOST="127.0.0.1"

# you can add multiple target sites here: 
CORS_ORIGIN="https://targetsite-a.com,https://targetsite-b.com,https://targetsite-c.com"
TARGET_URL="https://targetsite-a.com,https://targetsite-b.com,https://targetsite-c.com"